.list {
  list-style: none;
  margin: 0;
  padding: 0;
  .list-item {
    padding: 40px 20px;
    border-bottom: 1px solid #f3f3f3;
    transition: .2s;
    .list-title {
      font-size: 20px;
      text-decoration: none;
      color: #0b4084;
      margin: 0 0 15px 0;
    }
    .list-description {
      color: #969696;
      margin: 0;
    }
    &:hover {
      background-color: #f3f3f3;
    }
  }
}